*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCF8F5;
}
.d-flex{
    display: flex;
}
.container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between; 
    padding: 50px 0;
    .content{
        width: 70%;
        h1{
            font-size: 40px;
            padding-left: 10px;
        }
        .product-list{
            margin-top: 20px;
            justify-content: space-between;
            flex-wrap: wrap;
            .product-item{
                width: 33%;
                padding: 10px;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
                .title{
                    margin-top: 30px;
                    color: #d3856e;
                }
                h3{
                    margin-top: 10px;
                }
                .price{
                    margin-top: 10px;
                    color: #d87050;
                    font-weight: 600;
                }
                .button-container{
                    position: relative;
                    width: 100%;
                    height: fit-content;
                    button{
                        border: 1px solid #d87050;
                        width: 150px;
                        border-radius: 40px;
                        padding: 10px 20px;
                        position: absolute;
                        top: -25px;
                        left: calc((100% - 150px) /2 );
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            margin-right: 5px;
                            width: 20px;
                            height: auto;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .cart{
        width: calc(30% - 20px);
        height: fit-content;
        background-color: #FFFFFF;
        padding: 20px 20px 15px 20px;
        h1{
            color: #BA4421;
        }
        #cart-empty{
            display: none;
            width: 100%;
            padding: 30px 0;
            text-align: center;
            p{
                margin-top: 15px;
                color: #AD8A86;
            }
        }
        #cart-items{
            justify-content: space-between;
            .item{
                padding: 10px 0;
                border-bottom: thin solid #AD8A86;
                width: 90%;
                h4{
                    color: #555352;
                    margin-bottom: 10px;
                }
                p{
                    span{
                        font-weight: bold;
                        color: #BA4421;
                        margin-right: 15px;
                    }
                    .price{
                        margin-left: 10px;
                    }
                }
            }
            .remove-button{
                width: 10%;
            }
        }
    }
}

